
.App {
  text-align: center;
  height: 100vh;
  position: relative;
}

.dot {
  position: absolute;
  display: inline-block;
  background: purple;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  /* left: 0; */
}

.buttons {
  display: flex;
  gap: 10px;
}